@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --bg-primary: #011f37;
  --bg-secondary: #06426f;
  --txt-primary: #21a4f0;
  --txt-secondary: #b1d4e0;
  --container-bg: rgba(3, 46, 81, 0.5);
}

/* General Styling */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(
    33deg,
    rgba(1, 31, 55, 1) 24%,
    rgba(6, 66, 111, 1) 58%,
    rgba(33, 164, 240, 1) 99%
  );
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Container used throughout the site - used to help responsiveness  */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.color-wrapper {
  border-radius: 0.5em;
  padding: 1em;
  background-color: rgba(3, 46, 81, 0.3);
}

/* Header */

header {
  background: var(--container-bg);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-block: 2em;
}

.logo a {
  text-decoration: none;
  color: var(--txt-primary);
}

.logo a:hover {
  color: var(--txt-secondary);
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, 0.75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--txt-secondary);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--container-bg);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--txt-primary);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: var(--txt-secondary);
}

nav a.active {
  color: var(--txt-secondary);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}



/* Footer */

.footer {
  margin-top: auto;
  text-align: center;
  background-color: rgba(3, 46, 81, 0.5);
}

.social-networks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 7.8125em;
  list-style: none;
}

.social-networks i {
  font-size: 1.75rem;
  margin: 1%;
  padding: 5%;
  color: var(--txt-primary);
}

.social-networks i:hover {
  color: var(--txt-secondary);
}
