@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --bg-primary: #011f37;
  --bg-secondary: #06426f;
  --txt-primary: #21a4f0;
  --txt-secondary: #b1d4e0;
}

/* General Styling */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  /* background-image: url(/assets/images/bg-image.jpg); */
  background: linear-gradient(
    33deg,
    rgba(1, 31, 55, 1) 24%,
    rgba(6, 66, 111, 1) 58%,
    rgba(33, 164, 240, 1) 99%
  );
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Container used throughout the site - used to help responsiveness  */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.color-wrapper {
  border-radius: 0.5em;
  padding: 1em;
  background-color: rgba(3, 46, 81, 0.3);
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.8125em;
  background-color: rgba(3, 46, 81, 0.5);
}

.title a {
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--txt-primary);
  margin-left: 3em;
}

.title a:hover {
  color: var(--txt-secondary);
}

.nav-container {
  text-align: center;
  margin-right: 4em;
  align-items: baseline;
}

.navbar a {
  text-decoration: none;
  letter-spacing: 2px;
  padding-right: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--txt-primary);
}

.navbar a:hover {
  color: var(--txt-secondary);
}

.navbar a.active {
  color: var(--txt-secondary);
}

/* Footer */

.footer {
  margin-top: auto;
  text-align: center;
  background-color: rgba(3, 46, 81, 0.5);
}

.social-networks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 7.8125em;
  list-style: none;
}

.social-networks i {
  font-size: 1.75rem;
  margin: 1%;
  padding: 5%;
  color: var(--txt-primary);
}

.social-networks i:hover {
  color: var(--txt-secondary);
}

@media (max-width: 425px) {
  .header {
    flex-direction: column;
    padding-top: 1em;
  }
  .title a {
    font-size: 2rem;
    padding-bottom: 2em;
    margin: 0;
  }
  .nav-container {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding-top: 1em;
  }
  .title a {
    font-size: 2rem;
    padding-bottom: 2em;
    margin: 0;
  }
  .nav-container {
    margin: 0;
  }
}
