/* Home - Body */

.main-content {
  margin-top: 6em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(177, 212, 224, 0.2);
}

.profile__image {
  height: 50dvh;
  width: auto;
  border-radius: 50%;
  border: 5px solid var(--txt-primary);
  box-shadow: 7px 7px 5px 1px var(--bg-secondary);
}

.profile-text h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--txt-primary);
  margin-bottom: 1rem;
}

.profile-text span {
  -webkit-text-fill-color: #06426f;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--txt-primary);
}

.profile-text h3 {
  font-size: 2rem;
  font-weight: 500;
  -webkit-text-fill-color: #06426f;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--txt-primary);
}

.profile-text p {
  font-family: "Garamond", sans-serif;
  color: var(--txt-secondary);
  font-size: 1.5rem;
  font-weight: 200;
  padding: 1rem 0;
  max-width: 60ch;
}

.tech-stack {
  color: var(--txt-secondary);
  font-size: 2rem;
  display: inline-block;
}

h2 {
  font-size: 2rem;
}

.tech-stack {
  font-weight: 700;
  font-size: 40px;
  -webkit-text-fill-color: #06426f;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--txt-primary);
}

.tech-logo li {
  font-size: 3em;
  font-weight: 500;
  display: inline;
  color: var(--txt-secondary);
  letter-spacing: 2em;
}

/* Experience - Body */

.wrapper {
  margin-block: 2em;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(177, 212, 224, 0.2);
}

.exp__header {
  display: flex;
  justify-content: center;
}

.sub-heading {
  text-align: center;
  margin-bottom: 2em;
  color: var(--txt-primary);
}

.exp-content {
  display: block;
  width: 50ch;
}

.exp-content h2 {
  color: var(--txt-primary);
}

.exp-content p {
  color: var(--txt-secondary);
}

.year {
  font-weight: bold;
  font-style: italic;
}

.facility {
  -webkit-text-fill-color: #06426f;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--txt-primary);
}

.exp-title {
  align-self: center;
  padding: 0.5em;
}

.page-header {
  color: var(--txt-primary);
}

.page-header span {
  -webkit-text-fill-color: #06426f;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--txt-primary);
}

.sub-header {
  text-align: center;
  -webkit-text-fill-color: #06426f;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--txt-primary);
}
