/* Home - Body */

.main-content {
  margin-top: 13em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile__image {
  height: 50dvh;
  width: auto;
  border-radius: 50%;
  border: 5px solid var(--txt-primary);
  box-shadow: 7px 7px 5px 1px var(--bg-secondary);
}

.profile-text h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--txt-primary);
  margin-bottom: 1rem;
}

.profile-text span {
  -webkit-text-fill-color: #06426f;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--txt-primary);
}

.profile-text h3 {
  font-size: 2rem;
  font-weight: 500;
  -webkit-text-fill-color: #06426f;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--txt-primary);
}

.profile-text p {
  color: var(--txt-secondary);
  font-size: 1.5rem;
  font-weight: 200;
  padding: 1rem 0;
  max-width: 60ch;
}

.tech-stack {
  color: var(--txt-secondary);
  font-size: 2rem;
  display: inline-block;
}

.tech-stack {
  font-weight: 700;
  font-size: 40px;
  -webkit-text-fill-color: #06426f;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--txt-primary);
}

.tech-logo li {
  font-size: 3em;
  font-weight: 500;
  display: inline;
  color: var(--txt-secondary);
  letter-spacing: 2em;
}

/* Home - Media */

@media (max-width: 768px) {
  .profile__image {
    height: 300px;
    width: auto;
    margin-bottom: 1em;
  }

  .profile-text {
    margin-bottom: 2em;
  }

  .profile-text h2 {
    font-size: 2rem;
  }
  .profile-text span {
    font-size: 2rem;
  }

  .profile-text p {
    font-size: 1.25rem;
  }

  .main-content {
    margin-top: 7em;
    flex-wrap: wrap;
    text-align: center;
  }

  .tech-logo li {
    font-size: 1.5rem;
    padding-left: 1em;
  }
}
@media (max-width: 1184px) {
  .color-wrapper {
    padding-top: 4rem;
    margin-top: 1rem;
  }
}
@media (max-width: 1288px) {
  .main-content {
    flex-wrap: wrap;
  }
  .profile__image {
    height: 40dvh;
  }
}

/* Experience - Body */

.wrapper {
  margin-block: 2em;
  display: flex;
  justify-content: space-evenly;
}

.experience {
  margin-top: 6em;
}

.exp__header {
  padding-top: 2em;
  display: flex;
  justify-content: center;
}

.sub-heading {
  text-align: center;
  margin-bottom: 1em;
  color: var(--txt-primary);
}

.exp-content {
  display: block;
  width: 50ch;
}

.exp-content h2 {
  color: var(--txt-primary);
}

.exp-content p {
  color: var(--txt-secondary);
  padding-bottom: 1em;
}

.year {
  font-weight: bold;
  font-style: italic;
  padding-bottom: 0.5em;
}

.facility {
  -webkit-text-fill-color: #06426f;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--txt-primary);
}

.exp-title {
  align-self: center;
  padding: 0.5em;
}

.page-header {
  color: var(--txt-primary);
}

.page-header span {
  -webkit-text-fill-color: #06426f;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--txt-primary);
}

.sub-header {
  text-align: center;
  -webkit-text-fill-color: #06426f;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--txt-primary);
}

.key-skills h2 {
  color: var(--txt-primary);
  text-align: center;
  padding: 0.5em;
}

.key-skills ul {
  list-style-type: none;
}
.key-skills ul li {
  color: var(--txt-secondary);
  line-height: 1.5;
}

/* Experience - Media */

@media (max-width: 425px) {
  .wrapper {
    font-size: xx-small;
  }
}

@media (max-width: 768px) {
  .page-header {
    color: var(--bg-primary);
  }

  .page-header span {
    -webkit-text-fill-color: var(--bg-primary);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--txt-secondary);
  }
}
@media (max-width: 1000px) {
  .wrapper {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
  }
}

/* Projects - Body */

.project-section {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 2em;
}

.project-content {
  display: flex;
  justify-content: center;
  gap: 4em;
}

.project-header {
  padding-bottom: 3em;
  padding-top: 0.5em;
  color: var(--txt-primary);
}

.project-header span {
  -webkit-text-fill-color: #06426f;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--txt-primary);
}

.card-wrapper {
  width: 15em;
  background: var(--bg-secondary);
  border-radius: 0.5em;
  border: 5px solid var(--txt-secondary);
  overflow: hidden;
  color: var(--txt-secondary);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.card-wrapper:hover {
  transform: scale(1.1);
}
.card-header {
  height: 11em;
  width: 100%;
  background: var(--bg-primary);
  border-radius: 100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;
}

.card-header i {
  color: var(--txt-secondary);
  font-size: 4rem;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.card h2 {
  text-align: center;
  font-size: 1rem;
  margin-top: 0.8em;
  margin-bottom: 1.5em;
}
.card p {
  text-align: center;
  font-size: 0.85rem;
  margin-bottom: 0.85em;
}
.card-btn {
  border: none;
  border-radius: 5em;
  padding: 0.2em 1.5em;
  color: var(--bg-primary);
  margin-bottom: 1em;
  text-transform: uppercase;
  background-color: var(--txt-secondary);
  text-decoration: none;
}

.project-bottom {
  font-size: 2rem;
  padding-top: 3rem;
  display: flex;
  color: var(--txt-primary);
}

.project-bottom a {
  -webkit-text-fill-color: #06426f;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--txt-primary);
  text-decoration: none;
}

/* Projects - Media */

@media (max-width: 768px) {
  .project-header {
    padding-bottom: 3em;
    padding-top: 0.5em;
    color: var(--bg-primary);
  }

  .project-header span {
    -webkit-text-fill-color: var(--bg-primary);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--txt-secondary);
  }
}

@media (max-width: 1184px) {
  .project-content {
    flex-wrap: wrap;
  }
  .project-bottom {
    text-align: center;
  }
}

/* Contact - Body  */

.contact-container {
  margin-top: 8em;
}

.contact-heading {
  display: flex;
  color: var(--txt-primary);
  justify-content: center;
  padding-block: 2em;
}

.contact-heading span {
  -webkit-text-fill-color: #06426f;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--txt-primary);
}

.contact-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.contact-box {
  background-color: rgba(3, 46, 81, 0.3);
  text-align: center;
  border-radius: 0.5em;
  padding: 2em;
}

.contact-box h2 {
  -webkit-text-fill-color: #06426f;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--txt-primary);
  text-align: center;
  padding-bottom: 0.5em;
}

.contact-box ul {
  list-style-type: none;
}
.contact-box ul li {
  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--txt-primary);
}

.contact-box p {
  font-size: 1.5rem;
  color: var(--txt-secondary);
  padding-block: 1em;
}

.contact-box a {
  color: var(--txt-primary);
  font-size: 2rem;
}

.contact-box a:hover {
  color: var(--txt-secondary);
}

.form-container {
  background-color: rgba(3, 46, 81, 0.3);
  color: var(--txt-primary);
  font-size: 1.5rem;
  padding: 2em;
  border-radius: 0.5em;
}

input[type="text"] {
  min-width: 100%;
  height: 2em;
}

input[type="email"] {
  min-width: 100%;
  height: 2em;
}

input[type="textarea"] {
  min-width: 100%;
  height: 2em;
}

input[type="submit"] {
  padding: 1em;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--bg-secondary);
  color: var(--txt-secondary);
  border-radius: 0.5em;
}

/* Contact - Media */

@media (max-width: 425px) {
  .form-container {
    max-width: 100%;
  }
  #message {
    overflow: auto;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .contact-heading {
    display: flex;
    color: var(--bg-primary);
    justify-content: center;
    padding-block: 2em;
  }

  .contact-heading span {
    -webkit-text-fill-color: var(--bg-primary);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--txt-secondary);
  }
}

@media (max-width: 1288px) {
  .contact-wrapper {
    flex-wrap: wrap;
    gap: 1em;
  }
}

/* Formsubmit - Body  */

.submit-container {
  margin-top: 20rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.submit-content {
  line-height: 3;
  text-align: center;
}

.submit-content h1 {
  color: var(--txt-primary);
  font-size: 2.5rem;
}
.submit-content span {
  -webkit-text-fill-color: #06426f;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--txt-primary);
}

.submit-content p {
  color: var(--txt-secondary);
  font-size: 2rem;
}

.submit-content a {
  display: inline-block;
  color: var(--txt-primary);
  font-size: 2.5rem;
}

.submit-content a:hover {
  cursor: pointer;
  color: var(--txt-secondary);
}

/* Formsubmit - Media  */

@media (max-width: 1184px) {
  .submit-container {
    margin-top: 15rem;
  }
}

@media (max-width: 600px) {
  .submit-container {
    margin-top: 10rem;
  }
  .submit-content h1 {
    font-size: 1.5rem;
  }
  .submit-content p {
    font-size: 1rem;
  }
}
